<!DOCTYPE html>
<html ng-app="boilerplateApp" >
  <head>
    <title>Fullstack Boilerplate</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-controller="boilerplateCtrl">
    <h1>Fullstack Boilerplate</h1>
    <p>Thanks for choosing Fullstack Boilerplate! You're number {{0.5+0.5}}!</p>
  </body>
</html>
